<dialog>
    {% if form_type == "edit" %}
    <div><p>Edit text</p></div>
    {% else %}
    <div><p>Create text</p></div>
    {% endif %}
    <form
        id="dialog-form"
        {% if form_type == "edit" %}
            hx-put="{{ form_url }}"
        {% else %}
            hx-post="{{ form_url }}"
        {% endif %}
        hx-swap="innerHTML"
        hx-target="#dialog-status">
        {{ form.text.label }} {{ form.text() }}<br>
        <input type="submit" value="Submit">
    </form><br>
    <div id="dialog-status"></div><br>
    <button id="dialog-close-button">Cancel</button>
</dialog>
