<dialog>
    {% if form_type == "edit" %}
    <div><p>Edit webhook</p></div>
    {% else %}
    <div><p>Create new webhook</p></div>
    {% endif %}
    <form
        id="dialog-form"
        {% if form_type == "edit" %}
            hx-put="{{ form_url }}"
        {% else %}
            hx-post="{{ form_url }}"
        {% endif %}
        hx-swap="innerHTML"
        hx-target="#dialog-status">
        {{ form.name.label }} {{ form.name() }}<br>
        {{ form.url.label }} {{ form.url() }}<br>
        {{ form.bits_product.label }} {{ form.bits_product() }}<br>
        {{ form.extra_data.label }}<br>{{ form.extra_data(cols="30", rows="10") }}<br>
        {{ form.include_transaction_data.label }} {{ form.include_transaction_data() }}<br><br>
        {{ form.test_webhook() }}<br>
        <p id="webhook-test-status"></p><br>
        <input type="submit" value="Submit">
    </form><br>
    <div id="dialog-status"></div><br>
    <button id="dialog-close-button">Cancel</button>
  </dialog>
