<!DOCTYPE html>
<head>
    <link rel="stylesheet" href="theme.css">
    <script src="https://extension-files.twitch.tv/helper/v1/twitch-ext.min.js" type="text/javascript"></script>
    <script src="deps/htmx.min.js"></script>
    <script src="deps/Sortable.min.js"></script>
    <script src="globals.js" type="module"></script>
    <script src="config.js" type="module"></script>
    <script src="theme.js" type="module"></script>
</head>
<html>
  <body id="root">
    <button
    hx-get="/layout/create"
    hx-target="#dialog"
    >Create layout</button><br><br>
    <form id="layout-select-form" hx-trigger="authed,selectRefresh from:body" hx-get="/layouts" hx-indicator="#loader"></form>
    <div id="loader" class="htmx-indicator"><p>Loading...</p></div>
    <p>Preview:</p>
    <div id="preview-window">
    <div id="layout"></div>
    </div>
    <div id="dialog"></div>
    <noscript>
      You need to enable JavaScript to run this app.
    </noscript>
  </body>
</html>
